<!-- *********__home page content__************* -->
{% load static custom_filters %}
<style>

</style>

{% if blogs_data %}
    <section class="section_blog blog_list blog_list_home class_for_all_sections" data-aos="fade-up" data-aos-delay="100" id="blog_list_base blog_list class_for_all_sections">
        <div class="container">
            <div class="container-fluid mb-1 p-0"  data-aos="fade-up" >
                <div class="d-dm-flex d-lg-flex justify-content-between title-h2-div">
                    <div class="p-0">
                        <h2 class="h2_title theme_red">Latest Blog and News</h2>
                        <p class="p-text">Making the Most of Your Travel Experience in 2024</p>
                    </div>
                    <div class="view_all_div text-center">
                        <a href="{% url 'home' %}" class="view_all_btn"> Know more </a>
                    </div>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="blog-card-container container-fluid pd-blog">
                <!-- Blog container -->
                <div class="container blog-container">
                    {% if blogs_data %}
                    {% for blog in blogs_data.updatedBlogs %}
                        <div class="blog-post">
                            <a href="{% url 'blog_detail_page' blog_loc=blog.cityId.name blog_id=blog.id %}" class="clsmanage">
                                <div class="remder p-0">
                                    {% if blog.first_file_url %}
                                    <img src="{{ blog.first_file_url }}" alt="Blog Image">
                                    {% else %}
                                    <img src="{% static 'img/blog1.png' %}" alt="Blog Cover">
                                    {% endif %}
                                </div>
                            </a>
                            <div class="blog-post-content">
                                <div class="date_cat d-flex">
                                    <div class="title">{{ blog.title }}</div>
                                    <div class="date">{{ blog.formatted_date }}</div>
                                </div>
                                <h3 class="blog-text blog-shortNote-text">{{ blog.shortNote }}</h3>
                                <a href="{% url 'blog_detail_page' blog_loc=blog.cityId.name blog_id=blog.id %}" class="clsmanage">
                                    <div id="content">
                                        {{ blog.content|add_class_to_p_tag|safe }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>   
            </div>
        </div>
        <div class="container p-5 text-center pt-4">
            <div class="row justify-content-center">
                <a class="read_more_blog big_thmeme_btn" role="button" href="{% url 'blogs' %}">Read More Blogs</a>
            </div>
        </div>    
    </section>
{% endif %}
