# Ignore Python bytecode files
__pycache__/
*.py[cod]
*.pyc

# Ignore environment files
.env
.venv

# Ignore IDE/editor configurations
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db
