{% extends "base.html" %}
{% load static %}
{% block content %} 
<style>


  /* comman hero txt banner style */
  .comman_hero_txt_banner {
     background-image: url('{% static 'img/live-d.png' %}'); 
 }
 

 
 /* Text in the center */
 .comman_hero_txt_banner h1 {
     position: relative;
     font-size: 2.5rem;
     font-weight: bold;
     z-index: 2;
 }
 /* Mobile responsive adjustments */
 @media (max-width: 768px) {
     .comman_hero_txt_banner h1 {
         font-size: 2rem;
     }
 
     .comman_hero_txt_banner {
         height: 220px; /* Reduce height for mobile */
     }
 }
  
  .top_live, .upcoming_live{
    margin-bottom: 30px;
    padding: 5px;
  }
  .card-content-text .live_label{
    font-family: var(--default-font);
    color: var(--theme-secondary-color);
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    font-size:16px;
  }
  .card-content-text .live_state{
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 17px;
  }
  .card-content .live_desc{
     font-family: Inter;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      text-align: start;
  }
  .card-content .live_date{
    padding-left:5px;
    font-family: Inter;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     text-align: start;
 }

  /* Grid layout for cards */
  .card-row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjusting for responsiveness */
      gap: 15px;
      margin-bottom: 30px;
  }

  /* Card styles */
  .card {
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      position: relative;
  }

  /* Live Badge */
  .live-badge {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: var(--theme-orange-color);
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 12px;
      z-index: 1;
  }

  .card img {
      width: 100%;
      height: 190px; /* Image height fixed to 190px */
      object-fit: cover;
  }

  .card-content {
    padding: 10px 10px 20px 10px;
    text-align: left;
    background: var(--theme-card-bg-color);

  }



  .card-content strong {
      color: #ff4a4a;
  }

  .card-content button {
    background-color: var(--theme-red-color);
    color: white;
    padding: 7px 22px 7px 22px;
    border: none;
    border-radius: 29px;
    cursor: pointer;
  }
  .card-content-text{
    justify-content:space-between;
  }


  /* Responsive design for smaller screens */
  @media (max-width: 1024px) {
      .card-content {
          padding: 10px 10px 15px 10px;
      }
  }

  @media (max-width: 768px) {
      .card-content h3 {
          font-size: 16px;
      }
      .card-content button {
          padding: 8px 15px;
      }
      .top_live, .upcoming_live{
        margin-bottom: 20px;
      }
  }


</style>

<section id="hero-sections mt-5 live_darsan" class="hero-sections live_darsan section">
  <div class="comman_hero_txt_banner container-fluid p-0">
    <h1 class="theme-h1 mt-70"  data-aos="fade-up" data-aos-delay="100" >Live Darshan</h1>
  </div>
  <div class="container mt-40 pb-5">
    <div class="top_live_head p-0">
      <h2 class="top_live h2_title">Top Live</h2>
      <div class="card-row">
        <a href="{% url 'live_darshan_detail' %}" >
          <div class="card">
              <div class="live-badge">Live</div>
              <img src="{% static 'img/live-d-cover.png' %}" alt="Simha Sakranti">
              <div class="card-content">
                <div class="card-content-text d-flex">
                  <h3 class="live_label">Simha Sakranti</h3>
                  <p class="live_state">@ Bihar</p>
                </div>
                  <p class="live_desc">Simha Sankranti, also known as Simha Sankranti or Simha Sankraman, is a revered Hindu festival marking the transition of the ...</p>
                  <span class="d-flex">  
                    <i class="bi bi-calendar2-check"></i>
                    <p class="live_date">17 Oct, Sunday, Shravan Krishna Amavasya 
                      (upto 04:42 PM)</p>
                  </span>
                  <button>Watch Live</button>
              </div>
          </div>
        </a>
        <div class="card">
          <div class="live-badge">Live</div>
          <img src="{% static 'img/Badrinath-Temple-cover.jpg' %}" alt="Badrinath Temple">
          <div class="card-content">
            <div class="card-content-text d-flex">
              <h3 class="live_label">Sheree Dadrinath </h3>
              <p class="live_state">@ Uttarakhand</p>
            </div>
              <p class="live_desc">Badarinath or Badarinarayana Temple is a Hindu temple dedicated to Vishnu. It is situated in the town of Badrinath in Uttarakhand and...</p>
              <span class="d-flex">  
                <i class="bi bi-calendar2-check"></i>
                <p class="live_date">17 Sept, Sunday, Shravan Krishna Amavasya 
                  (upto 04:42 PM)</p>
              </span>
              <button>Watch Live</button>
          </div>
        </div>

        <div class="card">
          <div class="live-badge">Live</div>
          <img src="{% static 'img/kedarnath-cover.jpg' %}" alt="kedarnath-Temple">
          <div class="card-content">
            <div class="card-content-text d-flex">
              <h3 class="live_label">Kedarnath Jyotirlinga</h3>
              <p class="live_state">@ Uttarakhand</p>
            </div>
              <p class="live_desc">Kedarnath is dedicated to Lord Shiva and it is also the abode of the northernmost Jyotirlinga. The Kedarnath shrine boasts...</p>
              <span class="d-flex">  
                <i class="bi bi-calendar2-check"></i>
                <p class="live_date">17 Sept, Sunday, Shravan Krishna Amavasya 
                  (upto 04:42 PM)</p>
              </span>
              <button>Watch Live</button>
          </div>
        </div>

        <div class="card">
          <div class="live-badge">Live</div>
          <img src="{% static 'img/mahakaleshwar-cover.png' %}" alt="mahakaleshwar">
          <div class="card-content">
            <div class="card-content-text d-flex">
              <h3 class="live_label">Mahakaleshwar Jyotirlinga</h3>
              <p class="live_state">@ ujjain</p>
            </div>
              <p class="live_desc">Mahakaleshwar Jyotirlinga is a Hindu temple dedicated to Shiva and is one of the twelve Jyotirlingas, shrines which are said to be the ...</p>
              <span class="d-flex">  
                <i class="bi bi-calendar2-check"></i>
                <p class="live_date">17 Sept, Sunday, Shravan Krishna Amavasya 
                  (upto 04:42 PM)</p>
              </span>
              <button>Watch Live</button>
          </div>
        </div>
    </div>
    </div>  
     
    <div class="upcoming_live_head p-0 pt-4">
      <h2 class="upcoming_live h2_title">Upcoming Live Puja's</h2>
      <div class="card-row">
        <div class="card">
          <div class="live-badge d-none">Live</div>
          <img src="{% static 'img/Badrinath-Temple-cover.jpg' %}" alt="Badrinath Temple">
          <div class="card-content">
            <div class="card-content-text d-flex">
              <h3 class="live_label">Sheree Dadrinath </h3>
              <p class="live_state">@ Uttarakhand</p>
            </div>
              <p class="live_desc">Badarinath or Badarinarayana Temple is a Hindu temple dedicated to Vishnu. It is situated in the town of Badrinath in Uttarakhand and...</p>
              <span class="d-flex">  
                <i class="bi bi-calendar2-check"></i>
                <p class="live_date">17 Sept, Sunday, Shravan Krishna Amavasya 
                  (upto 04:42 PM)</p>
              </span>
              <button>Watch Live</button>
          </div>
        </div>
        <div class="card">
          <div class="live-badge d-none">Live</div>
          <img src="{% static 'img/Badrinath-Temple-cover.jpg' %}" alt="Badrinath Temple">
          <div class="card-content">
            <div class="card-content-text d-flex">
              <h3 class="live_label">Sheree Dadrinath </h3>
              <p class="live_state">@ Uttarakhand</p>
            </div>
              <p class="live_desc">Badarinath or Badarinarayana Temple is a Hindu temple dedicated to Vishnu. It is situated in the town of Badrinath in Uttarakhand and...</p>
              <span class="d-flex">  
                <i class="bi bi-calendar2-check"></i>
                <p class="live_date">17 Sept, Sunday, Shravan Krishna Amavasya 
                  (upto 04:42 PM)</p>
              </span>
              <button>Watch Live</button>
          </div>
        </div>
        <div class="card">
          <div class="live-badge d-none">Live</div>
          <img src="{% static 'img/Badrinath-Temple-cover.jpg' %}" alt="Badrinath Temple">
          <div class="card-content">
            <div class="card-content-text d-flex">
              <h3 class="live_label">Sheree Dadrinath </h3>
              <p class="live_state">@ Uttarakhand</p>
            </div>
              <p class="live_desc">Badarinath or Badarinarayana Temple is a Hindu temple dedicated to Vishnu. It is situated in the town of Badrinath in Uttarakhand and...</p>
              <span class="d-flex">  
                <i class="bi bi-calendar2-check"></i>
                <p class="live_date">17 Sept, Sunday, Shravan Krishna Amavasya 
                  (upto 04:42 PM)</p>
              </span>
              <button>Watch Live</button>
          </div>
        </div>
        <div class="card">
          <div class="live-badge d-none">Live</div>
          <img src="{% static 'img/Badrinath-Temple-cover.jpg' %}" alt="Badrinath Temple">
          <div class="card-content">
            <div class="card-content-text d-flex">
              <h3 class="live_label">Sheree Dadrinath </h3>
              <p class="live_state">@ Uttarakhand</p>
            </div>
              <p class="live_desc">Badarinath or Badarinarayana Temple is a Hindu temple dedicated to Vishnu. It is situated in the town of Badrinath in Uttarakhand and...</p>
              <span class="d-flex">  
                <i class="bi bi-calendar2-check"></i>
                <p class="live_date">17 Sept, Sunday, Shravan Krishna Amavasya 
                  (upto 04:42 PM)</p>
              </span>
              <button>Watch Live</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %} 


  