<link rel="stylesheet"href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.4.1/swiper-bundle.min.js"></script>


<section class="bestsellar_section_wrapper">
	<div class="container">
	
	<div class="category_hedding_title"><h4>Bestsellers</h4></div>
		<div class="swiper">
		  <!-- Additional required wrapper -->
		  <div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
                   <div class="products_picture"> <img src="images/bestseller/Cow Milk Lite.png" class="img-fluid" alt="Product 1"></div>
                   <div class="product-card"> <div class="product_title_name"><h5>Cow Milk Lite</h5></div>
                    <div class="product_weight">500ml</div>
                    <div class="price">₹38.00 <span class="original-price">₹45.00</span></div>
                    <div class="status in-stock">In Stock</div>
                    <button class="btn btn-outline-success add-to-cart-btn">Add To Cart</button>
                </div>
			</div>
			<div class="swiper-slide">
				 <div class="products_picture"> <img src="images/bestseller/Cow Milk Lite.png" class="img-fluid" alt="Product 1"></div>
                   <div class="product-card"> <div class="product_title_name"><h5>Cow Milk Lite</h5></div>
                    <div class="product_weight">500ml</div>
                    <div class="price">₹38.00 <span class="original-price">₹45.00</span></div>
                    <div class="status in-stock">In Stock</div>
                    <button class="btn btn-outline-success add-to-cart-btn">Add To Cart</button>
                </div>
			</div>
			<div class="swiper-slide">
				 <div class="products_picture"> <img src="images/bestseller/Cow Milk Lite.png" class="img-fluid" alt="Product 1"></div>
                   <div class="product-card"> <div class="product_title_name"><h5>Cow Milk Lite</h5></div>
                    <div class="product_weight">500ml</div>
                    <div class="price">₹38.00 <span class="original-price">₹45.00</span></div>
                    <div class="status in-stock">In Stock</div>
                    <button class="btn btn-outline-success add-to-cart-btn">Add To Cart</button>
                </div>
			</div>
			<div class="swiper-slide">
				 <div class="products_picture"> <img src="images/bestseller/Cow Milk Lite.png" class="img-fluid" alt="Product 1"></div>
                   <div class="product-card"> <div class="product_title_name"><h5>Cow Milk Lite</h5></div>
                    <div class="product_weight">500ml</div>
                    <div class="price">₹38.00 <span class="original-price">₹45.00</span></div>
                    <div class="status in-stock">In Stock</div>
                    <button class="btn btn-outline-success add-to-cart-btn">Add To Cart</button>
                </div>
			</div>
			<div class="swiper-slide">
				 <div class="products_picture"> <img src="images/bestseller/Cow Milk Lite.png" class="img-fluid" alt="Product 1"></div>
                   <div class="product-card"> <div class="product_title_name"><h5>Cow Milk Lite</h5></div>
                    <div class="product_weight">500ml</div>
                    <div class="price">₹38.00 <span class="original-price">₹45.00</span></div>
                    <div class="status in-stock">In Stock</div>
                    <button class="btn btn-outline-success add-to-cart-btn">Add To Cart</button>
                </div>
			</div>
			<div class="swiper-slide">
				 <div class="products_picture"> <img src="images/bestseller/Cow Milk Lite.png" class="img-fluid" alt="Product 1"></div>
                   <div class="product-card"> <div class="product_title_name"><h5>Cow Milk Lite</h5></div>
                    <div class="product_weight">500ml</div>
                    <div class="price">₹38.00 <span class="original-price">₹45.00</span></div>
                    <div class="status in-stock">In Stock</div>
                    <button class="btn btn-outline-success add-to-cart-btn">Add To Cart</button>
                </div>
			</div>
			<div class="swiper-slide">
				 <div class="products_picture"> <img src="images/bestseller/Cow Milk Lite.png" class="img-fluid" alt="Product 1"></div>
                   <div class="product-card"> <div class="product_title_name"><h5>Cow Milk Lite</h5></div>
                    <div class="product_weight">500ml</div>
                    <div class="price">₹38.00 <span class="original-price">₹45.00</span></div>
                    <div class="status in-stock">In Stock</div>
                    <button class="btn btn-outline-success add-to-cart-btn">Add To Cart</button>
                </div>
			</div>
			<div class="swiper-slide">
				 <div class="products_picture"> <img src="images/bestseller/Cow Milk Lite.png" class="img-fluid" alt="Product 1"></div>
                   <div class="product-card"> <div class="product_title_name"><h5>Cow Milk Lite</h5></div>
                    <div class="product_weight">500ml</div>
                    <div class="price">₹38.00 <span class="original-price">₹45.00</span></div>
                    <div class="status in-stock">In Stock</div>
                    <button class="btn btn-outline-success add-to-cart-btn">Add To Cart</button>
                </div>
			</div>
		  </div>
		  <!-- If we need navigation buttons -->
		  {% comment %} <div class="swiper-button-prev"></div>
		  <div class="swiper-button-next"></div> {% endcomment %}
		</div>
		<div class="viewallbtn_wrapper"><button class="btn viewallbtn">View All</button></div>
		
	</div>
</section>

<script>
// basic options for all sliders
let defaults = {
  spaceBetween: 15,
  slidesPerView:5,
  speed:1000,
  loop: true,
      autoplay: {
   delay:1500,
    //speed:200,
   disableOnInteraction: false,
 },
 breakpoints: {
  320: {
            slidesPerView:1.5,
            spaceBetween: 15
        },
    // when window width is >= 320px
	
	 640: {
            slidesPerView: 2.3,
            spaceBetween: 0
        },
    768: {
      slidesPerView: 3,
      spaceBetween: 30
    },
    // when window width is >= 480px
    1024: {
      slidesPerView: 4,
      spaceBetween:30
    },
    // when window width is >= 640px
    1280: {
      slidesPerView: 5,
      spaceBetween: 15,
	 
    }
  }
};
// call init function
initSwipers(defaults);
function initSwipers(defaults = {}, selector = ".swiper") {
  let swipers = document.querySelectorAll(selector);
  swipers.forEach((swiper) => {
    // get options
    let optionsData = swiper.dataset.swiper
      ? JSON.parse(swiper.dataset.swiper)
      : {};
    // combine defaults and custom options
    let options = {
      ...defaults,
      ...optionsData
    };
    //console.log(options);
    // init
    new Swiper(swiper, options);
  });
}
</script>    