<!-- *********__home page content__************* -->
{% load static %}
<style>
      .search_list {
          width: 100%;
          display: flex;
          margin: 20px 0; 
      }
      .search_list ul li a{
        font-family: var(--default-font);
        color: var(--bs-body-bg);
        font-size: 16px;
        font-weight: 600;
        line-height: 21.78px;
        text-align: center;
        padding: 6px 15px; 
        display: block;
        text-decoration: none;
      }
     


      .search_list ul {
        display: flex;
        list-style: none;
        padding: 10px;
        margin: 0;
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
        max-width: 100%; 
      }

     
      .mg-5{
        margin: 5px;
      }


      /* Strat 1st car*/
      .owl-theme .overlay .tour_event_info{
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: left;
        color:#ffffff;

      }
     .near_by_home .owl-carousel .item {
      position: relative;
      border-radius: 8px; 
      overflow: hidden;
      display: flex;
      justify-content: center;
      width: auto;
      height: 255px; /* Fixed height */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .near_by_home .owl-carousel .item img {
      border-radius: 8px; 
      width: 100%;
      height: 100%; 
      object-fit: cover; 
    }

    .overlay {
      
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%; /* Overlay matches image size */
      padding: 10px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.1%, rgba(0, 0, 0, 0.59) 81.16%, #000000 106.82%);
      color: #fff;
      text-align: center;
      border-radius: 0 0 8px 8px; /* Round the bottom corners */
      z-index: 1; /* Ensure overlay is on top */
      display: flex;
      flex-direction: column;
      justify-content: flex-end; /* Align text at the bottom */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bottom box shadow */
    }


    @media (max-width: 992px) {
      /* Styles for tablets */
      .near_by_home .owl-carousel .item {
          width: 100%;
          margin: 0 auto;
      }
    }

    @media (min-width: 992px) {
      .near_by_home .owl-carousel .owl-item {
          flex: 0 0 auto;
          margin-right: 5px; /* Reduce gap between items */
      }
    }

    .near_by_home .owl-carousel .owl-stage {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    
    
    /* end 1st car*/

    .overlay-base_banner{
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 77.1%, rgba(0, 0, 0, 0.59) 95.16%, #000000 106.82%);
        color: #fff;
        z-index: 1;
      
    }
    
</style>  
  
    <!-- Hero Section -->
      <section id="hero" class="hero section">
        <div class="hero-bg">
          <img src="{% static 'img/hero_banner.png' %}" alt="">
        </div>
        <div class="container text-center p-0">
          <div class="d-flex flex-column justify-content-center align-items-center top-padding">
            <img  src="{% static 'img/pray.svg' %}" class="img-fluid hero-img" alt="" data-aos="zoom-out" data-aos-delay="200">
            <h1 class="h1_title" data-aos="zoom-out" data-aos-delay="230">namaste</h1>
            <div class="container" data-aos="fade-up" data-aos-delay="100">
              <div id="search_list" class="search_list justify-content-lg-center justify-content-md-center">
                <ul>
                    <li><a href="{% url 'home' %}" class="active"><i class="bi bi-search mg-5"></i> Search All</a></li>
                    <li><a href="{% url 'home' %}"> <i class="bi bi-house-door-fill mg-5"></i> Hotel</a></li>
                    <li><a href="{% url 'home' %}"><i class="bi bi-house-door-fill mg-5"></i> Search By City</a></li>
                    <li><a href="{% url 'home' %}"><i class="bi bi-person-badge mg-5"></i> Guide</a></li>
                </ul>
              </div> 
            </div>           
            <form class="container txt-center" action="" method="post" data-aos="fade-up" data-aos-delay="110">
              {% csrf_token %}
              <div class="home_search_form">
                <input type="text" class="form-control" placeholder="Search for City, Dharamshala or Hotel">    
                <input type="submit" value="Search"></div>
              <div class="error-message"></div>
            </form>
          </div>
          <div>
            <h4 class="txt-white recent-search">Recent Searches</h4>
            <div class="search-tags d-flex justify-content-between flex-nowrap">
              <span class="scrollbar-height text-nowrap"><a href="{% url 'home' %}" class="search-tag-list"><i class="bi bi-search mg-5"></i> Kedarnath </a></span>
              <span class="scrollbar-height text-nowrap"><a href="{% url 'home' %}" class="search-tag-list"><i class="bi bi-search mg-5"></i> Search All</a></span>
              <span class="scrollbar-height text-nowrap"><a href="{% url 'home' %}" class="search-tag-list"><i class="bi bi-search mg-5"></i> Search All</a></span>
              <span class="scrollbar-height text-nowrap"><a href="{% url 'home' %}" class="search-tag-list"><i class="bi bi-search mg-5"></i> Search All</a></span>
              <span class="scrollbar-height text-nowrap"><a href="{% url 'home' %}" class="search-tag-list"><i class="bi bi-search mg-5"></i> Search All</a></span>
              <span class="scrollbar-height text-nowrap"><a href="{% url 'home' %}" class="search-tag-list"><i class="bi bi-search mg-5"></i> Search All</a></span>
              <span class="scrollbar-height text-nowrap"><a href="{% url 'home' %}" class="search-tag-list"><i class="bi bi-search mg-5"></i> Search All</a></span>
              <span class="scrollbar-height text-nowrap"><a href="{% url 'home' %}" class="search-tag-list"><i class="bi bi-search mg-5"></i> Search All</a></span>
            </div>
          </div> 
        </div>
        <div class="overlay-base_banner">
        </div> 

      </section>
    <!-- /Hero Section -->


    
    <!-- Top Reted Items  -->
    {% include "carousels/insta_reels.html" %}
    <!-- Top Reted Items end  -->

     <!-- Top Reted Items  -->
    {% include "carousels/near_by_home.html" %}
    <!-- Top Reted Items end  -->
    
    <!--  Top Destinations for your -->
    {% include "carousels/top-destinations.html" %}
    <!--  Top Destinations for your End-->

    <!-- Upcoming Tour & Events   -->
    {% include "carousels/holiday_carousel.html" %}
    <!-- Upcoming Tour & Events end  -->

    <!-- Lates Blog  -->
    {% include "blogs/blog_post.html" %}
    <!-- Lates Blog End -->

   
     <!-- Top Reted Items  -->
    {% comment %} {% include "swiper_card.html" %} {% endcomment %}
    <!-- Top Reted Items end  -->


    {% comment %} {% include "carousels/top_items.html" %} {% endcomment %}

    {% comment %} {% include "carousels/kanha_ki_nagri.html" %} {% endcomment %}



   

 

  



