{% extends "base.html" %}
{% load static custom_filters %}
{% block content %}

<section id="class_for_all_section mt-5" class=" class_for_all_sections blog_detail_page section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <h1>Vrindavan 2024</h1>
                <p>Vrindavan is considered to be a sacred place for the Vaishnavism tradition of Hinduism. It is believed that Krishna spent part of his childhood in this city. The other prominent areas surrounding Vrindavan are Govardhan, Gokul, Nandgaon, Barsana, Mathura, and Bhadrivan.</p>

                <h2>What we do:</h2>
                <ul class="itinerary">
                    <li><strong>Day 1 - (Delhi)</strong><br> Vrindavan is considered to be a sacred place for the Vaishnavism tradition of Hinduism.</li>
                    <li><strong>Day 2 - (Prem Mandir)</strong><br> Vrindavan is considered to be a sacred place for the Vaishnavism tradition of Hinduism.</li>
                    <li><strong>Day 3 - (Return)</strong><br> Departure for Delhi at 8:00 AM.</li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="travel-info">
                    <h3>Travel Details</h3>
                    <p><strong>Departure From:</strong> Old Delhi</p>
                    <p><strong>Departure Date:</strong> 02/Sep/2024</p>
                    <p><strong>Departure Time:</strong> 08:00 AM</p>
                    <p><strong>Package Cost:</strong> ₹ 3000 per person</p>
                    <p><strong>Duration:</strong> 2 Days</p>
                    <button>Book Now</button>
                </div>
                <div class="contact-info">
                    <p>Do you have any questions?</p>
                    <p>Feel free to give us a call. We are a team of experts and would be happy to assist you.</p>
                    <a href="tel:+911234567890">+91 1234567890</a>
                </div>
            </div>
        <div>  
    </div>
</section>

{% endblock %}