{% extends "base.html" %}
{% load static custom_filters%}
{% block content %} 
<style>

  /* comman hero txt banner style */
  .comman_hero_txt_banner {
     position: relative;
     {% comment %} background-image: url('{% static 'img/home_banner.png' %}');  {% endcomment %}
     background-size: cover;
     background-position: center;
     height: 300px; /* Adjust this height */
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
 }
 

 /* Text in the center */
 .comman_hero_txt_banner h1 {
     position: relative;
     font-size: 2.5rem;
     font-weight: bold;
     z-index: 2;
 }
 /* Mobile responsive adjustments */
 @media (max-width: 768px) {
     .comman_hero_txt_banner h1 {
         font-size: 2rem;
     }
 
     .comman_hero_txt_banner {
         height: 230px; /* Reduce height for mobile */
     }
 }





  .guide_page_title{
    font-family: var(--default-font);
    color: var(--theme-secondary-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 30.05px;
    padding: 5px 5px 20px 5px;
  }
    .profile-card {
        background: #FBFBFB;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 12px;
        margin: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }
  
    .profile-card:hover {
        transform: scale(1.05);
    }
  
    .profile-img {
        width: 155px;
        height: 155px;
        border-radius: 5px;
        object-fit: cover;
        margin-right: 25px;
    }
  
    .profile-info {
        flex-grow: 1;
    }
  
    .profile-rating {
        font-size: 15px;
        color: #f1c40f;
    }
  
    .guide_name {
        margin: 10px 0 0 0;
        font-family: var(--default-font);
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
        color: var(--theme-secondary-color);
    }
  
    .guide_city {
        font-family: var(--default-font);
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: var(--Gray, #919191);
        margin: 0 0 5px 0px;
    }
  
    .guide_price {
        margin: 10px 0 5px 0px;
        font-family: var(--default-font);
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
        color: var(--theme-red-color);
    }
  
    .guide_price_hours {
        font-family: var(--default-font);
        font-size: 12px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        color: var(--theme-secondary-color);
    }
  
    .card-base {
        padding: 15px;
    }
    .pad-64{
      padding : 32px 64px 80px 64px;
      background-color : white;
      border : 1px;
      border-radius : 25px;
    }
    .guide-rating{
      font-family : Urbanist;
      weight : 500;
      font-size : 12px;
      line-height : 20px;
      color : var(--Gray, #919191);

    }
    /* Media queries for responsiveness */
    @media (max-width: 767px) {
        /* Cards should shrink but stay in a row */
        .profile-card {
            padding: 10px;
            margin: 10px 0;
        }
        .pad-64{
          padding :05px
        }
        .profile-img {
            width: 125px;
            height: 125px;
            margin-right: 15px;
        }
  
        .guide_price {
            font-size: 16px;
        }
  
        .guide_name {
            font-size: 16px;
        }
    }
  
    @media (max-width: 576px) {
        .col-sm-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .profile-rating {
          font-size: 14px;
        }
        .profile-img {
            width: 100px;
            height: 100px;
            margin-right: 18px;
        }
  
        .guide_name {
            font-size: 14px;
        }
  
        .guide_price {
            font-size: 14px;
        }
    }

  @media (min-width: 768px) and (max-width: 991px) {
    .guide_name {
      margin: 5px 0 0 0;
      font-size: 14px;
      line-height: 22px;
    }
    .guide_price {
      margin: 8px 0 5px 0px;
      font-size: 14px;
    }
    .profile-rating {
      font-size: 13px;
    }
    .profile-img {
      width: 140px;
      height: 140px;
      margin-right: 20px;
    }
  }
  @media (min-width: 991px) and (max-width: 1209px) {
    .guide_name {
      font-size: 14px;
      line-height: 22px;
    }
    .guide_price {
      font-size: 14px;
    }
    .profile-rating {
      font-size: 13px;
    }
    .profile-img {
      width: 120px;
      height: 120px;
      margin-right: 18px;
    } 

  </style>
  

<section id="guide_base class_for_all_sections mt-5" class=" class_for_all_sections guide_base section"> 
  <div class="comman_hero_txt_banner container-fluid p-0">
    <div class="container text-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="theme-h1"  data-aos="fade-up" data-aos-delay="100" >Search Guide</h1>

          <form class="container txt-center" action="" method="post" data-aos="fade-up" data-aos-delay="110">
              {% csrf_token %}
              <div class="custom_search_box">
                  <!-- Text input area for City or Hotel search -->
                  <div class="w-100">
                      <input type="text" name="search" class="form-control txt_input" placeholder="Search for City or Hotel">
                  </div>
                  {% comment %} <div class="row p-0  base-seach-col">
                      <!-- HTML5 Date Picker -->
                      <div class="col-lg-5 col-md-6 mb-3 check-in-col">
                          <div class="p-0 m-0 ">
                              <label for="adults" class="">Check In/Out</label>
                              <input type="text" class="form-control flatpickr rm_bd_bg " placeholder="Select Date">
                          </div>
                          <div class="p-0 m-0 d-none">
                              <label for="adults" class="">Check Out</label>
                              <input type="text" class="form-control flatpickr" placeholder="Select Date">
                          </div>
                      </div>

                      <!-- Adults dropdown -->
                      <div class="col-lg-3 col-md-6 mb-3 room-col">
                          <label for="adults" class="">Rooms</label>
                          <select name="" id="adults" class="form-control rm_bd_bg" fdprocessedid="nfa5qe">
                              <option selcted value="">Select</option>
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                              <option value="">4+</option>
                          </select>
                      </div>
  
                      <!-- Children dropdown -->
                      <div class="col-lg-4 col-md-6 mb-3 guest-col">
                          <label for="children" class="">Guests</label>
                          <select name="" id="children" class="form-control rm_bd_bg " fdprocessedid="5xmtc9">
                              <option selcted value="">No. of Guests</option>
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                              <option value="">4+</option>
                          </select>
                      </div>
                  </div> {% endcomment %}
  
                  <!-- Search button -->
                  <div class="text-right" style="position: absolute;right: 0;top: 5px;">
                      <input type="submit" class="btn btn-primary" value="Search">
                  </div>
              </div>
              <div class="error-message"></div>
          </form>
      </div>
    </div>

  </div>
  <div class="container mt-5">
    <div class="row pad-64">
      <div>
        <h1 class="guide_page_title">Find your selected guide detail here.</h1>
      </div> 
      <!-- Card 1 -->
      {% if guides_list %}
      {% for guide in guides_list %}
        <div class="col-sm-12 col-md-6 col-lg-4 card-base">
          <a href="{% url 'guide-detail' guide.id %}" >
            <div class="profile-card d-flex">
              <img src="{{guide.file.Url}}" alt="Employee Photo" class="profile-img">
                <div class="profile-info">
                    <h4 class="guide_name">{{guide.name}}</h4>
                    <p class="guide_city">{{guide.cityId.name}}, India</p>
                    <p class="guide_price">₹ {{guide.pricePerHour}}/<span class="guide_price_hours"> hour</span></p>
                    <div class="guide_rating d-flex gap-3 align-items-center">
                      <span class="profile-rating">

                        {% with guide.rating as rating %}
                          {% generate_stars rating as filled_stars %}
        
                          <!-- Display filled stars -->
                          {% for star in filled_stars.0 %}
                              <i class="bi bi-star-fill"></i>
                          {% endfor %}
                          
                          <!-- Display empty stars -->
                          {% for star in filled_stars.1 %}
                              <i class="bi bi-star"></i>
                          {% endfor %}
                        {% endwith %}
                      </span>
                      <span class = 'guide-rating'>{{guide.rating}}/5</span>
                    </div>
                </div>
            </div>
          </a>
        </div>
      {% endfor%}
      {% endif%}
    </div>
  </div>
</section>

{%endblock%}