
    
  /* comman hero txt banner style */
  .comman_hero_txt_banner {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 700px; /* Adjust this height */
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.mt-40{
    margin-top: 40px;
}
.mt-70{
    margin-top: 70px;
}
.color-fff{
    color: #fff !important;
}
.section .theme-h1, .theme-h1{
    letter-spacing: 2px;
    font-family: var(--heading-font);
    color: #ffffff;
    font-size: 90px;
    font-weight: 400;
    line-height: 63px;
    text-align: center;
    filter: drop-shadow(0px 0px 2px #FF8505);
    } 


@media (max-width: 768px) {
    .section .theme-h1, .theme-h1{
        font-size: 48px;
    } 
}
.recent-search{
    margin-top: 30px;
    font-family: var(--default-font);
    font-size: 22px;
    font-weight:6700;
    line-height: 28.8px;
    text-align: center; 
}
.search-tags{
    overflow-x: auto;  /* Enables horizontal scrolling */
    white-space: nowrap;  /* Prevents content from wrapping */
    height: 50px;
    margin-top: 20px;
    margin-bottom: -50px;
}
.search-tags::-webkit-scrollbar {
    display: none;  /* Optionally hide scrollbar for a cleaner look */
  }
.scrollbar-height{
    margin: 15px 0 0px 0;
  }

.top-padding{
    padding-top: 130px;
}
.search-tag-list{
    font-family: var(--default-font);
    font-size: 14px;
    margin: 0 5px 0px 5px;
    border: 2px solid var(--theme-red-color);
    padding: 12px 22px 12px 22px;
    gap: 10px;
    border-radius: 51px;
    color: #ffffff;
}

.search-tag-list:hover{
    border: 2px solid var(--theme-hover-color);
    color: var(--theme-hover-color);
}

.search-tag-list .bi-search{
    color: var(--theme-red-color);
}
.search-tag-list:hover .bi-search{
    color: var(--theme-hover-color);
}


/* Blog post page css */
.blog_list_page .blog-card-container {
    display: flex;
    gap: 20px; /* Space between cards */
    flex-wrap: wrap;
    justify-content: center;
    }

.blog_list_page .color-white{
    color: #FFFFFF !important;
}

.blog_list_page .blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default for desktop: 4 columns */
    gap: 22px;
    padding: 20px;
    margin:0 auto;

}

.blog_list_page .blog-post {
    background: #FBFBFB;
    border: 1px solid #FFEBEF;
    border-radius: 25px;
    box-shadow: 0px 1px 13px 0px #0000000F;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure the card takes up full height */
}

.blog_list_page .blog-post:hover {
    transform: translateY(-5px);
}

.blog_list_page .blog-post img {
    object-position: top;
    object-fit: cover;
    width: 100%;
    height: 245px;
}


.blog_list_page .blog-post-content {
    padding: 10px;
    flex-grow: 1; /* Ensure content fills remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FBFBFB;

}

.blog_list_page .blog-post-content h3 {
    font-family: var(--default-font);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    margin-bottom: 10px;
    background: #FBFBFB;

}

.blog_list_page .blog-post-content p {
    font-family: var(--default-font);
    color: var(--theme-secondary-color);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.blog_list_page .blog-post-content .date {
    font-size: 12px;
    color:  var(--theme-blue-color);
    margin-bottom: 5px;
}
.blog_list_page .blog-post-content #content{
    margin: -8px 0 0 0;
}

.blog_list_page .blog-post-content .title {
    font-size: 12px;
    color: var( --theme-blue-color);
    font-weight: bold;
}

@media (max-width: 1200px) {
    .blog_list_page .blog-container {
        grid-template-columns: repeat(2, 1fr); /* For tablets and smaller laptops */
    }
    .blog_list_page .blog-post img {
        height: 301px;
    }
    
}
@media (max-width: 768px) {
    .blog_list_page .blog-container {
        grid-template-columns: repeat(1, 1fr); /* For mobile devices */
    }
}

@media (min-width: 556px) and  (max-width: 768px) {
    .blog_list_page .blog-post img {
        height: 345px;
    }
    
}
@media (max-width: 556px) {
    .blog_list_page .blog-post img {
        object-position: top;
        object-fit: cover;
        width: 100%;
        height: 245px;
    }
    
}


@media (min-width: 1201px) and (max-width: 1400px) {
    .blog_list_page .blog-container {
        grid-template-columns: repeat(3, 1fr); /* For smaller desktops */
    }
    .blog_list_page .blog-post img {
        height: 245px;
    }
    
}

.blog_list_page .date_cat .title::before, .blog_list_home .date_cat .title::before {
    content: "• ";
    color: #8338EC;
    font-weight: bold;
    font-size: 20px;
}

.blog_list_page .date_cat, .blog_list_home .date_cat  {
    margin: -10px 0 5px 0;
    align-items: baseline;
    justify-content: space-between;
}

.blog_list_page .read-more , .blog_list_home .read-more{
    font-weight: 400;
    color: var(--theme-red-color);
    cursor: pointer;
}
.blog_list_page .big_thmeme_btn{
    border-radius: 52px;
    color: #fff;
    background: var(--theme-red-color);
    width: 350px;
    padding: 10px 10px 10px 10px;
    font-family: var(--default-font);
    font-weight: 600;
    border: 2px solid var(--theme-red-color) !important;

}

.blog_list_page .big_thmeme_btn button{
    color: #fff !important;
    font-weight: 600;
    font-family:var(--default-font);
    border: 2px solid var(--theme-red-color) !important;
    font-size: 24px;

}
.blog_list_page .big_thmeme_btn:hover, .big_thmeme_btn:active{
    background: #fff !important;
    border: 2px solid var(--theme-red-color) !important;
    color: var(--theme-red-color) !important;

}
/* Blog post Page css End */


/* Blog post- Home page End */
.blog_list_home .pd-blog{padding: 20px;}

@media (max-width: 600px) {
   .blog_list_home .pd-blog{padding: 5px;}
}

.blog_list_home .blog-card-container {
   display: grid;
   gap: 15px; /* Space between cards */
   overflow-x: hidden; /* No horizontal scroll by default */
}

.blog_list_home .blog-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr); /* Default for desktop: 4 columns */
   gap: 20px;
   padding: 20px;
   margin: 0 auto;
   overflow-x: auto; /* Enable horizontal scroll */

}

.blog_list_home .blog-post {
   background: #FBFBFB;
   border: 1px solid #FFEBEF;
   border-radius: 8px;
   box-shadow: 0px 1px 13px 0px #0000000F;
   overflow: hidden;
   transition: transform 0.3s ease;
   display: flex;
   flex-direction: column;
   height: 100%; /* Ensure the card takes up full height */
   min-width: 280px; /* Ensure cards have a minimum width for scrolling */
}

.blog_list_home .blog-post:hover {
   transform: translateY(-5px);
}

.blog_list_home .blog-post img {
   object-position: top;
   object-fit: cover;
   width: 100%;
   height: 245px;
}

.blog_list_home .blog-post-content {
   padding: 10px;
   flex-grow: 1; /* Ensure content fills remaining space */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.blog_list_home .blog-post-content h3 {
   font-family: var(--default-font);
   font-size: 14px;
   font-weight: 600;
   line-height: 21px;
   text-align: left;
   margin-bottom: 10px;
}

.blog_list_home .blog-post-content p {
   font-family: var(--default-font);
   color: var(--theme-secondary-color);
   font-size: 13px;
   font-weight: 400;
   line-height: 18px;
   text-align: left;
}

.blog_list_home .blog-post-content .date {
   font-size: 12px;
   color:  var(--theme-blue-color);
   margin-bottom: 5px;
}
.blog_list_home .blog-post-content #content{
   margin: -8px 0 0 0;
}

.blog_list_home .blog-post-content .title {
   font-size: 12px;
   color: var(--theme-blue-color);
   font-weight: bold;
}

@media (max-width: 1200px) {
   .blog_list_home .blog-container {
       grid-template-columns: repeat(4, 1fr); /* For tablets and smaller laptops */
   }
   .blog_list_home .blog-post img {
       height: 301px;
   }
}

@media (max-width: 992px) {
   .blog_list_home .blog-container {
       display: flex; /* Use flexbox for scrolling */
       flex-wrap: nowrap; /* Prevent wrapping */
       overflow-x: auto; /* Enable horizontal scroll */
   }
}

@media (max-width: 768px) {
   .blog_list_home .blog-container {
       grid-template-columns: repeat(1, 1fr); /* For mobile devices */
   }
   .blog_list_home .blog-post {
       min-width: 100%; /* Make each blog post take full width on mobile */
   }
}

.blog_list_home .big_thmeme_btn{
   border-radius: 52px;
   color: #fff;
   background: var(--theme-red-color);
   width: 350px;
   padding: 10px 10px 10px 10px;
   font-family: var(--default-font);
   font-weight: 600;
   border: 2px solid var(--theme-red-color) !important;
}

.blog_list_home .big_thmeme_btn button{
   color: #fff !important;
   font-weight: 600;
   font-family:var(--default-font);
   border: 2px solid var(--theme-red-color) !important;
   font-size: 24px;
}

.blog_list_home .big_thmeme_btn:hover, .blog_list_home .big_thmeme_btn:active{
   background: #fff !important;
   border: 2px solid var(--theme-red-color) !important;
   color: var(--theme-red-color) !important;
}

/* Blog post Home page End */


/* Carousel -> Upcomming Event, top-desinations and khanha_ki_nagri  */

.kanha_ki_ngari_calousel .overlay,
.top-destinations .overlay,
.upcoming_tours_events_data .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.1%, rgba(0, 0, 0, 0.59) 81.16%, #000000 106.82%);
    color: #fff;
    text-align: center;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.kanha_ki_ngari_calousel .owl-carousel .owl-stage-outer,
.top-destinations .owl-carousel .owl-stage-outer,
.upcoming_tours_events_data .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: visible; 
    -webkit-transform: translate3d(0, 0, 0);
}

.kanha_ki_ngari_calousel .carousel-inner,
.top-destinations .carousel-inner,
.upcoming_tours_events_data .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

.kanha_ki_ngari_calousel .carousel-item,
.top-destinations .carousel-item,
.upcoming_tours_events_data .carousel-item {
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
}

.kanha_ki_ngari_calousel .item .card, 
.top-destinations .item .card,
.upcoming_tours_events_data .item .card {
    box-shadow: 0px 1px 13px 0px #0000000F;
    border: 1px solid #FFEBEF;
    border-radius: 9px;
}

.kanha_ki_ngari_calousel .card,
.top-destinations .card,
.upcoming_tours_events_data .card {
    flex: 1 0 auto;
    margin: 2px;
}

.kanha_ki_ngari_calousel .card img,
.top-destinations .card img,
.upcoming_tours_events_data .card img {
    width: 100%; 
    height: 335px; 
    object-fit: cover; 
    border-radius: 8px; 
}

.kanha_ki_ngari_calousel .add_cart_batn,
.top-destinations .add_cart_batn,
.upcoming_tours_events_data .add_cart_batn {
    padding: 10px 0;
    border-radius: 20px;
    width: 100%;
    background: var(--theme-red-color);
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}

.kanha_ki_ngari_calousel .add_cart_batn:hover,
.top-destinations .add_cart_batn:hover,
.upcoming_tours_events_data .add_cart_batn:hover {
    background: #FA9300 !important;
    color: #ffffff;
}

.kanha_ki_ngari_calousel .card-title,
.top-destinations .card-title,
.upcoming_tours_events_data .card-title {
    color: var(--heading-color);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    text-align: left;
}

.kanha_ki_ngari_calousel .offer_price,
.top-destinations .offer_price,
.upcoming_tours_events_data .offer_price {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
    color: #FE4D00;
}

.kanha_ki_ngari_calousel .actual_price,
.top-destinations .actual_price,
.upcoming_tours_events_data .actual_price {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
    color: #00000066;
    text-decoration: line-through;
    padding: 0 10px;
}

.kanha_ki_ngari_calousel .total_off,
.top-destinations .total_off,
.upcoming_tours_events_data .total_off {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    text-align: left;
    color: #E52B50;
    background: #FF33331A;
    padding: 3px 5px;
    border-radius: 10px;
}

.kanha_ki_ngari_calousel .badge,
.top-destinations .badge,
.upcoming_tours_events_data .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #FF7A0E;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    z-index: 2;
}

/* Specific Styles for kanha_ki_ngari_calousel */
.kanha_ki_ngari_calousel .h2_title_rated {
    color: #FA9300;
}

.kanha_ki_ngari_calousel .theme_red {
    color: var(--theme-red-color) !important;
}

.kanha_ki_ngari_calousel {
    padding-bottom: 0px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.top-destinations .container {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


/* Responsive Styles */
@media (max-width: 600px) {
    .kanha_ki_ngari_calousel .badge,
    .top-destinations .badge,
    .upcoming_tours_events_data .badge {
        font-size: 12px; /* Adjust badge font size for smaller screens */
        padding: 4px 8px;
    }

    .kanha_ki_ngari_calousel .property_title,
    .top-destinations .property_title,
    .upcoming_tours_events_data .property_title {
        font-size: 16px; /* Adjust title font size for smaller screens */
    }
}

@media (min-width: 568px) and (max-width: 778px) {
    .kanha_ki_ngari_calousel .card img,
    .top-destinations .card img,
    .upcoming_tours_events_data .card img {
        height: 290px;
    }
}

@media (min-width: 778px) and (max-width: 992px) {
    .kanha_ki_ngari_calousel .card img,
    .top-destinations .card img,
    .upcoming_tours_events_data .card img {
        height: 280px;
    }
}

@media (max-width: 568px) {
    .kanha_ki_ngari_calousel .card img,
    .top-destinations .card img,
    .upcoming_tours_events_data .card img {
        height: 260px;
    }
}

/* Ensure consistent .overlay styles */
.kanha_ki_ngari_calousel_calousel .overlay .property_title,
.top-destinations .overlay .property_title,
.upcoming_tours_events_data .overlay .property_title, .near_by_home .overlay .property_title, .hotel_listing_page .overlay .property_title, .section_top_reated .overlay .property_title{
    font-family: Inter;
    letter-spacing: 0.6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.5px;
    text-align: left;
    color: #ffffff;
}

.kanha_ki_ngari_calousel .owl-theme .overlay .tour_event_info,
.top-destinations .owl-theme .overlay .tour_event_info,
.upcoming_tours_events_data .owl-theme .overlay .tour_event_info {
    font-family: Inter;
    font-size: 11px;
    font-weight: 300;
    line-height: 14.40px;
    text-align: left;
    color: #ffffff;
}

.upcoming_tours_events_data {
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.hotel_listing_page .owl-theme .overlay .property_desc, .base_carousel .owl-theme .overlay .property_desc , .near_by_home_top_car .owl-theme .overlay .property_desc {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color:#ffffff;

  }
  .top_rated_shop_items{
    background: linear-gradient(180deg, #FFF44B 0%, #FFB901 100%);
    padding-bottom: 0px;
    }
  #section_top_reated, .section_top_reated
  {
    position: relative;
    padding: 112px 0 30px 0;
    overflow: hidden;
  }
    #class_for_all_sections, .class_for_all_sections {
        position: relative;
        padding: 70px 0 30px 0;
        overflow: hidden;
    }
    #sections_detail_page, .sections_detail_page {
        position: relative;
        padding: 70px 0 30px 0;
        overflow: hidden;
    }

    #hero-sections, .hero-sections {
        position: relative;
        overflow: hidden;
    }
  .near_by_home_top_car{
    background-color: #f8f8f8;
  }

  /* Left SVG Background */
  #section_top_reated::before {
    content: '';
    position: absolute;
    top: 50px; 
    left: 0;
    width: 200px; /* Adjust width as needed */
    height: 100%;
    background-size: contain; /* Make sure the SVG scales appropriately */
    z-index: 0; /* Place behind content */
  }

  /* Right SVG Background */
  #section_top_reated::after {
    content: '';
    position: absolute;
    top: 42px;
    right: 0;
    width: 200px; /* Adjust width as needed */
    height: 100%;
    background-size: contain; /* Make sure the SVG scales appropriately */
    z-index: 0; /* Place behind content */
}
  .section_top_reated .container {
    position: relative;
    z-index: 1; /* Ensure content is above the background */
}


/* Carousel -> Upcomming Event, top-desinations and khanha_ki_nagri End */


.search_list ul li a:hover{
    border-bottom: 2px solid var(--theme-hover-color);
}
.search_list a.active {
    border-bottom: 2px solid var(--theme-hover-color);
}

.h2_title{
    letter-spacing: 2px;
    font-family: Jomhuria;
    font-size: 65px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: var(--theme-secondary-color)
  }

  .p-text{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: var(--heading-font);
  }
  .title-h2-div{
    align-items: center;
  }
  .view_all_btn{
    font-family: var(--default-font);
    font-size: 16px;
    margin: 0 5px 0px 5px;
    border: 2px solid var(--theme-red-color);
    padding: 12px 22px 12px 22px;
    gap: 10px;
    border-radius: 51px;
    color: var(--theme-red-color);
    
  }
  .view_all_btn:hover, .view_all_btn:focus{
    border: 2px solid var(--theme-blue-color);
    color: var(--theme-blue-color);

  }
/* Mobile view -css - (Mobile -tab end) */

    @media (max-width: 576px) {
        .h2_title {
            font-size: 45px;
            line-height: 35px;
        }
        .p-text {
            font-size: 14px;
            line-height: 21px;
        }
        .kanha_ki_ngari_calousel_calousel .overlay .property_title,
        .top-destinations .overlay .property_title, .upcoming_tours_events_data 
        .overlay .property_title, .near_by_home .overlay .property_title, .hotel_listing_page .overlay .property_title, .section_top_reated .overlay .property_title {
            font-size: 14px;
            font-weight: 500;
            line-height: 19.5px;
        }
        .hotel_listing_page .owl-theme .overlay .property_desc, .base_carousel
        .owl-theme .overlay .property_desc, .near_by_home_top_car .owl-theme .overlay .property_desc {
            font-size: 12px;
            line-height: 15.36px;
        }

        #class_for_all_sections, .class_for_all_sections{
            padding: 45px 0 25px 0;
        }
          
        #section_top_reated{
            padding: 85px 0 30px 0;
        }
          
    }

    @media (min-width: 577px) and (max-width: 768px) {
        .h2_title {
            font-size: 51px;
            line-height: 40px;
        }
        .p-text {
            font-size: 14px;
            line-height: 21px;
        }

    }













   /* General container adjustments */   /* General container adjustments */   /* General container adjustments */   /* General container adjustments */

    

       /* General container adjustments */
       .container-footer {
        margin-top: 5px;
    }

    .hotel_listing_page {
        margin-top: 50px;
    }

    /* Filter section styling */
    .filter-section {
        background-color: #ffffff;
        border-radius: 10px;
        border: 1px solid #E0E0E0;
        margin-bottom: 30px;
        height: max-content;
    }

    /* Sticky footer for mobile filter */
    .sticky-footer {
        background-color: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10000;
        border-top: 1px solid #cecdcd;
        left: 0;
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    /* Hotel card styling */
    .hotel-card {
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; /* Ensures all cards have the same height */
    }

    .hotel-card:hover {
        transform: scale(1.05);
    }

    /* Image styling within cards */
    .img-prod {
        flex: 0 0 252px; /* Fixed height for image container */
        overflow: hidden;
    }

    .img-prod img {
        height: 252px; /* Fixed height */
        width: 100%;
        border-radius: 12px 12px 0 0;
        object-fit: cover; /* Ensures image covers the container without distortion */
    }

    /* Card body adjustments */
    .hotel-card .card-body {
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1; /* Allows text content to expand */
    }

    /* Title and text adjustments within the card */
    .hotel-card .card-title {
        margin-top: 4px;
        font-size: 14px;
        font-family: var(--default-font);
        font-weight: 600;
        line-height: 16.36px;
        color: var(--nav-color);
    }

    .hotel-card .card-text {
        margin-bottom: 5px;
        margin-left: 2px;
        color: #919191;
        font-family: var(--default-font);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
    }

    /* Search bar styling */
    .search-bar {
        margin-bottom: 20px;
    }

    /* Responsive adjustments */
    @media (max-width: 768px) {
        /* Hide desktop filter on mobile */
        .filter-section {
            display: none;
        }
        #loader {
            top: 50%;
            left: 50%;
        }   
        /* Show sticky footer on mobile */
        .sticky-footer {
            display: flex; /* Ensures sticky footer is visible on mobile */
        }
    }

    @media (min-width: 769px) {
        .propertyCount{        
            padding: 0px 0 0 20px;
        }
        /* Hide mobile filter sticky footer on larger screens */
        .sticky-footer {
            display: none;
        }
    }

    /* Scrollable filter body */
    .filter-body {
        max-height: 350px;
        overflow-y: auto; /* Scrollbar for overflow content */
    }

    /* ############################### */


    .search_list {
        width: 100%;
        display: flex;
        margin: 20px 0; 
    }

    .search_list ul li a{
        font-family: var(--default-font);
        color: var(--bs-body-bg);
        font-size: 16px;
        font-weight: 600;
        line-height: 21.78px;
        text-align: center;
        padding: 6px 15px; 
        display: block;
        text-decoration: none;
    }

   

    .search_list ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        overflow-x: auto; 
        white-space: nowrap; 
    }

    .search_list li {
        margin-right: 15px; 
    }


    .search_list ul::-webkit-scrollbar {
        height: 4px; 
        border-radius: 10px; 
    }

    .search_list ul::-webkit-scrollbar-thumb {
        background-color: var(--theme-blue-color); 
        border-radius: 10px; 
    }

    .search_list ul::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    .search_list ul::-webkit-scrollbar-thumb:hover {
        background-color: var(--theme-red-color); 
    }

    .search_list li {
        margin-right: 15px; 
    }

    

    
    
    .mg-5{
        margin: 5px;
    }

    .owl-theme .overlay .tour_event_info{
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: left;
        color:#ffffff;
    }

   

    .txt_input{
        padding: 12px 5px 12px 10px;
        background: none;
        border: none;
    }

    .rm_bd_bg{
        font-size: 12px;
        border: none;
        background: none;
    }

    .custom_search_box{
        max-width: 850px;
        margin-bottom: 15px;
        padding: 6px 0 6px 0;
        position: relative;
        border-radius: 50px;
        border: 2px solid var(--theme-hover-color);
        display: flex;
        background-color: #ffffff;
        transition: 0.3s;
    }

    .custom_search_box input[type=submit] {
        border: 0;
        font-weight: 500;
        font-size: 16px;
        padding: 14px 22px 14px 22px;
        margin: 0 8px 0px 0px;
        background: var(--theme-red-color);
        color: #ffffff;
        transition: 0.3s;
        border-radius: 50px;
    }

    .custom_search_box  input[type=submit]:hover {
        background: var(--theme-hover-color);
    }

    .guest-col, .room-col, .check-in-col {
        padding: 0 0 0 0;
        margin: 5px 0 0 0;
        height: 43px;
        border-left: 2px solid var(--theme-hover-color);
    }

    .guest-col label, .room-col label,  .check-in-col label {
        font-family: Inter;
        font-size: 13px;
        font-weight: 600;
        line-height: 14.52px;
    }

    .room-col label {
        margin: 0 15px 0 0px;
    }

    .check-in-col label{
        margin: 0 0 0 0;
    }

    .guest-col label{
        margin: 0 0 0 -25px;
    }

    .base-seach-col{
        position: absolute;
        top: 0; 
        right: 122px; 
        text-align: center;
    }

    .check-in-col .rm_bd_bg{
        margin: 0 -10px 0 10px;
        padding: 0 0 0 20px;
        cursor: pointer;
    }

    .room-col .rm_bd_bg{
        padding: 0px 0px 0 15px;
    }

    .guest-col .rm_bd_bg{
        padding: 0px 0px 0 15px;
        margin: 0px 0 0 5px;
    }

    .room-col select option{
        margin: 0 0 0px -10px;
        padding: 0 0 0 0;
    }

    /* Adjust Spinner Size and Blur Strength */
    #loader .spinner-border {
        width: 4rem;
        height: 4rem;
        border-width: 0.5rem;
    }

    #hotelList {
        transition: filter 0.3s ease;
    }

    /* Make Hotel Cards Uniform in Size */
    /* Updated to ensure all hotel cards have consistent image sizes */
    .hotel-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; /* Ensures all cards have the same height */
    }

    .hotel-card .img-prod {
        flex: 0 0 252px; /* Fixed height for image container */
        overflow: hidden;
    }

    .hotel-card .img-prod img {
        height: 252px; /* Fixed height */
        width: 100%;
        border-radius: 12px 12px 0 0;
        object-fit: cover; /* Ensures image covers the container without distortion */
    }

    .hotel-card .card-body {
        flex: 1; /* Allows text content to expand without affecting the image size */
        padding: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Checkbox Hover Color Removal */
    .filter-checkbox:checked ~ .form-check-label {
        background-color: transparent !important;
    }

    .hotel_listing_page .ratting-no-hotel{
        color: gold;
        font-size: 14px;
        font-weight: 600;
    }

    .hotel_listing_page .ratting-no-hotel-text{
        font-size: 12px;
        color: var(--default-color);
        font-family: var(--default-font);
        font-weight: 600;
    }
    .hotel_listing_page .ratting-no-hotel-text-no{
        font-size: 12px;
        font-weight: 500;
    }

    .hotel_listing_page .price-tag .offerPrice{
        color: var(--theme-red-color);
        font-size: 14px;
        font-weight: 600;
        margin-right: 15px;
    }

    .hotel_listing_page .price-tag .eslePrice{
        text-decoration: line-through 1.5px;
        font-weight: 600;
        color: var(--theme-secondary-color);
        font-size: 13px;
    }
    .hotel_listing_page .filter-head{
        align-items: baseline;
    }
    .hotel_listing_page .filter-head .filter-text{
        font-size: 18px;
        font-weight: 600;
        line-height: 24.05px;
        text-align: left;
        color: var(--theme-secondary-color);
        font-family: var(--default-font);
    }
    .hotel_listing_page .filter-head .clear-filter{
        font-size: 16px;
        cursor: pointer;
        font-weight: 600;
        line-height: 19.05px;
        text-align: left;
        color: var(--theme-red-color);
        font-family: var(--default-font);
    }
    
    .hotel_listing_page .listing-side h2 {
        font-size: 24px;
        font-family: var(--default-font);
        color: var(--theme-secondary-color);
        font-weight: 600;
        line-height: 29.05px;
        text-align: left;
    }
    .listing-side-blur{
        filter: blur(1.5px);
    } 

    .hotel_listing_page .filter-section #seach-tags{
        width:100%;
        height:auto;
    }
    .hotel_listing_page .filter-section .filter-div-head{
        padding-bottom: 10px;
        font-family: var(--default-font);
        color: var(--theme-secondary-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 13.36px;
        text-align: left;
    }
    .filters-all .count-disabled {
        opacity: 0.5;
    }
    .hotel_listing_page .filter-section .price-count-wraper{
        color: #919191;
        font-size:14px;
        font-family: var(--default-font);

    }
    .hotel_listing_page .filter-section .form-check-input[type=checkbox] {
        border-radius: .25em !important;
        border: 1px solid var(--default-color) ;
        font-size: 18px !important;
        margin-right: 5px !important;
        cursor: pointer;
    }
    .hotel_listing_page .filter-section .form-check-input:focus {
        border-color: none;
        outline: 0;
        box-shadow: none;
    }

    .hotel_listing_page .filter-section .form-check-input:checked {
        background-color:#FA9300 ;
        border-color: #FA9300 !important;
    }
    .hotel_listing_page .filter-section .price-range-group {
        align-items: baseline;
    }
    .hotel_listing_page .filter-section .form-check-label {
        line-height: 30px;
        font-size: 16px;
        color: var(--default-color); /* Ensure consistent color */
        font-family: var(--default-font);
        font-weight: 400; /* Default font weight */
        transition: font-weight 0.3s, color 0.3s;
    }
    .hotel_listing_page .Star-Rating .form-check-label{
        color:gold;
        font-size:18px !important;
        font-weight:400;
        font-family:var(--default-font);
    }

    /* Make label text bold when the checkbox is checked */
    .hotel_listing_page .form-check-input:checked + .form-check-label,
    .hotel_listing_page .form-check-input:checked + .form-check-label span {
        font-weight: 500;
        color: var(--theme-hover-color); /* Optional: Change color when active */
    }

    /* Optional: Style for disabled checkboxes and labels */
    .hotel_listing_page .form-check-input:disabled + .form-check-label {
        color: #919191; /* Grey color for disabled labels */
        font-weight: normal;
    }
    .form-control:focus {
        color: var(--default-color);
        background-color: transparent;
        border-color: var(--theme-hover-color);
        outline: 0;
        font-weight: 400;
        box-shadow: none;
        font-family: var(--default-color);
    }
    
    .hotel_listing_page .apply-btn{
        background: var(--theme-orange-color);
        color: #fff;
        font-family: var(--default-font);
        font-weight: 500;
    }
    .hotel_listing_page #clearFilters:hover{
        text-decoration: underline 1.5px;
    }


    /* Badge Styling */
    .selected-filters {
        border-radius: 5px;
    }

    .selected-filters h5 {
        margin-bottom: 10px;
    }

    .filter-badge {
        display: flex;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    .filter-badge .badge {
        font-family: var(--default-font);
        border-radius: 19px;
        font-size: 12px;
        background: var(--theme-orange-color);
        padding: 5px 10px;
    }

    .filter-badge .remove-filter {
        padding-bottom: 1px;
        border: 1px solid #fff;
        margin-left: 12px !important;
        cursor: pointer !important;
        color: #fff;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Optional: Add transition for badge removal */
    .filter-badge.removing {
        opacity: 0;
        transform: translateX(20px);
        transition: all 0.3s ease;
    }

    #loader {
        position: fixed;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }

    
    /* e-puja*/
    /* Live Darsna */
    .book-btn {
        font-family: var(--default-font);
        font-size: 16px;
        font-weight: 600;
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        background-color: var(--theme-red-color);
        color: white;
        border: none;
        border-radius: 30px;
      }
      .modal-log-regsiter-btn {
        font-family: var(--default-font);
        letter-spacing: 0.5px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 20px;
        width: 100%;
        padding: 12px;
        background-color: var(--theme-red-color);
        color: white;
        border: none;
        border-radius: 30px;
      }

    .puja-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        
    }
    .live_darshan_detail .location, .puja-detail-section .location{
        font-family: var(--default-font);
        color: #919191;
        font-size: 16px;
        font-weight: 400;
        line-height: 24.2px;
        text-align: left;
    }
    .live_darshan_detail .location i, .puja-detail-section .location i{
        color: var(--theme-red-color);
    }

    .puja-meta {
        margin: 0 20px 0 0px;
        display: flex;
        gap: 10px;
        cursor: pointer;
    }
    .puja-meta .dropdown {
        
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        border-radius:8px;
        background-color: white;
        border: 1px solid #ccc;
        min-width: 125px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .puja-meta .dropdown button {
        background-color: white;
        color: black;
        font-size:small;
        padding: 5px;
        text-align: left;
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .puja-meta .dropdown button i {
        margin-right: 10px;
    }
    .puja-meta .dropdown button:hover {
        background-color: #f1f1f1;
    }
    .share:hover .dropdown {
        display: block;
    }

    .live_darshan_detail .share,  .puja-detail-section .share  {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    .live_darshan_detail .share,  .puja-detail-section .share {
        color: var(--theme-secondary-color);
        font-size: 16px;
        display: flex;
        align-items: center;
        font-family: var(--default-font);
    
    }
    .live_darshan_detail .share i, .puja-detail-section .share i{
        color: var(--theme-red-color);
        padding-right: 5px;
    }
    .live_darshan_detail .about-section,  .puja-detail-section .about-section {
        margin-bottom: 20px;
    }

    .live_darshan_detail .about_live,  .puja-detail-section .about_live {
        font-family: var(--default-font);
        color: var(--theme-secondary-color);
        font-size: 24px;
        font-weight: 600;
        line-height: 33.89px;
        text-align: left;
    }
    
    .live_darshan_detail .about-section p, .puja-detail-section .about-section p {
        font-family: var(--default-font);
        color: #919191;
        font-size: 18px;
        font-weight: 400;
        line-height: 31px;
        text-align: left;
    }
    .live_darshan_detail .benefits-section, .puja-detail-section .benefits-section {
        margin-bottom: 20px;
    }
    
    .live_darshan_detail .benefits-section ul, .puja-detail-section .benefits-section ul {
        margin: 0;
    }
    
    .live_darshan_detail .benefits-section li,  .puja-detail-section .benefits-section li{
        font-family: var(--default-font);
        color: #919191;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
    }

    .live_darshan_detail .benefits_section, .puja-detail-section .benefits_section{
        font-family: var(--default-font);
        font-size: 18px;
        font-weight: 600;
        line-height: 29.05px;
        text-align: left;
    }
    
    .puja-detail-section hr {
        color: #919191 !important;
        margin: 1rem 0;
        border: 0;
        border-top: var(--bs-border-width) solid;
        opacity: 1.25;
    }
    @media (max-width: 768px) {
        .puja-meta .dropdown {
            margin: 0 0 0 -30px;
        }
    
        .puja-meta {
            flex-direction: column;
            align-items: flex-start;
        }
    
        .puja-header h1 {
            font-size: 20px;
        }
        .live_darshan_detail .location, .live_darshan_detail .share, .puja-detail-section .location, .puja-detail-section .share{
            font-size: 14px;
    
        }

    }
    @media (max-width: 576px) {
        .book-btn {
          padding: 8px;
        }
    }
     /* e-puja end*/
    /* Live Darsna end */