
{% load static %}
<style>
    {% comment %} .upcoming_tours_events_data {
        background-image: url("{% static '/img/holiday_bg.svg' %}"); 
    } {% endcomment %}
</style>
{% if upcoming_tours_events_data %}
    <section id="upcoming_tours_events_data class_for_all_sections" class="class_for_all_sections comman_car_list upcoming_tours_events_data" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="container-fluid mb-5 p-0"  data-aos="fade-up" >
                <div class="d-dm-flex d-lg-flex justify-content-between title-h2-div">
                    <div class="p-0">
                        <h2 class="h2_title theme_red">Upcoming Tour & Events</h2>
                        <p class="p-text">Making the Most of Your Travel Experience in 2024</p>
                    </div>
                    <div class="view_all_div text-center">
                        <a href="{% url 'home' %}" class="view_all_btn"> View All Destination </a>
                    </div>
                </div>
            </div>    
            <div class="owl-carousel owl-theme" data-aos="fade-up" data-aos-delay="100">
                {% for data in upcoming_tours_events_data.upcommingToursAndEvent %}
                <div class="item">
                    <div class="card" data-aos="fade-up" data-aos-delay="200">
                        <span class="badge">{% if data.type == 'tour' %}Tour{% endif %}</span>
                        
                        {% for url in data.files %}
                            {% if forloop.first %}
                                <img src="{{ url.Url }}" class="card-img-top" alt="{{ data.title }}">
                            {% endif %}
                        {% endfor %}
                        
                        <div class="overlay">
                            <div class="property_title">{{data.title}}</div>
                            <div class="tour_event_info"><i class="bi bi-calendar2-heart"></i> Starting from {{data.formatted_start_from}} to {{data.formatted_end_at}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>            
        </div>
    </section>
{%endif%}

